<header id="header">
    <div class="container d-flex-header">
        <h1>Agenda</h1>

        <nav id="menu">
            <ul>
                <li><a href="/">Contatos</a></li>
                <li><a href="/add">Cadastrar</a></li>
            </ul>
        </nav>
    </div>
</header>